.resume {
  display: flex;
  justify-content: center;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.resume-photo {
  margin-right: 10px;
  width: 200px;
  height: 220px;
}

.resume-header {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 55px;

  &::before {
    content: "Навыки";
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
    color: #0b4141;
  }

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #0b4141;
    position: absolute;
    bottom: -40px;
  }
}

.resume-header__info {
  .resume-name {
    font-size: 40px;
  }

  .resume-position {
    font-size: 30px;
  }

  .resume-contacts {
    line-height: 1.5;

    &:first-line {
      font-weight: 800;
      font-size: 18px;
    }
  }
}

.resume-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume-skills {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, minmax(40px, 1fr));
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  position: relative;
  margin-bottom: 55px;

  p:nth-last-of-type(-n + 2) {
    font-size: 16px;
  }

  &::before {
    content: "Опыт работы";
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
    color: #0b4141;
  }

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #0b4141;
    position: absolute;
    bottom: -40px;
    left: 0;
  }
}

.resume-experience {
  position: relative;
  margin-bottom: 55px;

  &::before {
    content: "Обо мне";
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
    color: #0b4141;
  }

  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #0b4141;
    position: absolute;
    bottom: -40px;
    left: 0;
  }

  .experience-header {
    font-weight: 700;
    font-size: 18px;
  }

  .experience-main {
    font-size: 18px;
  }
}

.resume-additional-info {
  font-size: 18px;
  line-height: 1.8;
}

@media (max-width: 768px) {
  .resume-container {
    max-width: 500px;
  }

  .resume-photo {
    width: 150px;
    height: 165px;
  }

  .resume-header__info {
    .resume-name {
      font-size: 27px;
    }

    .resume-position {
      font-size: 20px;
    }

    .resume-contacts {
      line-height: 1.5;
      font-size: 12px;

      &:first-line {
        font-weight: 800;
        font-size: 14px;
      }
    }
  }

  .resume-skills {
    font-size: 12px;

    p:nth-last-of-type(-n + 2) {
      font-size: 10px;
    }
  }

  .resume-experience {
    .experience-header {
      font-size: 14px;
    }

    .experience-main {
      font-size: 12px;
    }
  }

  .resume-additional-info {
    font-size: 12px;
  }
}

@media (max-width: 560px) {
  .resume-container {
    max-width: 400px;
  }

  .resume-header {
    &::before {
      font-size: 18px;
    }
  }

  .resume-photo {
    width: 110px;
    height: 121px;
  }

  .resume-header__info {
    .resume-name {
      font-size: 20px;
    }

    .resume-position {
      font-size: 16px;
    }

    .resume-contacts {
      line-height: 1.5;
      font-size: 11px;

      &:first-line {
        font-weight: 800;
        font-size: 12px;
      }
    }
  }

  .resume-skills {
    font-size: 10px;

    p:nth-last-of-type(-n + 2) {
      font-size: 8px;
    }

    &::before {
      font-size: 18px;
    }
  }

  .resume-experience {
    &::before {
      font-size: 18px;
    }
  }
}
