.resume {
  display: flex;
  justify-content: center;
}

.resume-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
}

.resume-photo {
  margin-right: 10px;
}

.resume-header {
  display: flex;
  position: relative;
  justify-content: center;
  margin-bottom: 55px;
  &::before {
    content: "Навыки";
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
    color: #0b4141;
  }
  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #0b4141;
    position: absolute;
    bottom: -40px;
  }
}

.resume-header__info {
  .resume-name {
    font-size: 40px;
  }
  .resume-position {
    font-size: 30px;
  }
  .resume-contacts {
    line-height: 1.5;
    &:first-line {
      font-weight: 800;
      font-size: 18px;
    }
  }
}

.resume-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.resume-skills {
  font-size: 20px;
  font-weight: 800;
  position: relative;
  text-align: center;
  text-wrap: balance;
  line-height: 1.5;
  white-space: pre-wrap;
  margin-bottom: 55px;

  &::before {
    content: "Опыт работы";
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
    color: #0b4141;
  }
  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #0b4141;
    position: absolute;
    bottom: -40px;
    left: 0;
  }
}

.resume-experience {
  position: relative;
  margin-bottom: 55px;
  &::before {
    content: "Обо мне";
    position: absolute;
    bottom: -37px;
    font-size: 20px;
    font-weight: 900;
    left: 50%;
    transform: translate(-50%);
    font-style: italic;
    color: #0b4141;
  }
  &::after {
    content: "";
    height: 3px;
    width: 100%;
    background-color: #0b4141;
    position: absolute;
    bottom: -40px;
    left: 0;
  }
  .experience-header {
    font-weight: 700;
    font-size: 18px;
  }
  .experience-main {
    font-size: 15px;
  }
}
