.header-menu {
  li.ant-menu-item-selected {
    background-color: #e98074 !important;
    color: #f7f4e9 !important;
    font-weight: 700;
  }
  li {
    color: #e98074 !important;
    font-weight: 700;
  }
}

.header-contacts {
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 1000;
  color: #f7f4e9;
  .header-contacts-title {
    height: 35%;
    line-height: 1;
    padding-top: 5px;
  }
  .header-contacts-links {
    height: 65%;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }
}
