.content-card {
  padding-inline: 14px;

  .ant-card-head {
    color: #e98074;
    font-size: 20px;
    font-weight: 900;
    background-color: #f7f4e9;
    text-align: center;
  }

  .ant-card-body {
    background-color: #f7f4e9;
    padding: 14px;
    padding-top: 0px;

    .ant-card-meta-description {
      color: black;
      margin-bottom: 15px;
      white-space: pre;
      text-wrap: wrap;
      font-weight: 600;

      &::first-line {
        font-weight: 900;
        font-size: 16px;
      }
    }
  }
}

.links-container {
  max-height: 40px;
  display: flex;
  width: 100%;
}

.link {
  display: inline;
  align-items: center;
  width: 50%;
}

.btn {
  width: 100%;
  height: 40px;
  cursor: pointer;
  background-color: #f7f4e9;
  border: 2px solid #e98074;
  font-weight: 600;
  font-size: 14px;
  justify-content: start;

  &:hover {
    background-color: #e98074;
  }
}

.btn-repo {
  border-right: 1px solid #e98074;
  border-radius: 0.5rem 0 0 0.5rem;
}

.btn-deploy {
  border-left: 1px solid #e98074;
  border-radius: 0 0.5rem 0.5rem 0;
}

.card-carousel-image {
  max-height: 400px;
  height: auto;
  min-height: 130px;
  max-width: 800px;
  width: 100%;
  border-radius: 1rem;
}

.slick-arrow.slick-prev {
  opacity: 1;
  color: #e98074;
  z-index: 19;

  &::after {
    width: 15px;
    height: 15px;
    border-inline-width: 4px 0;
    border-block-width: 4px 0;
    inset-inline-start: 3px;
    z-index: 19;
  }
}

.slick-arrow.slick-next {
  opacity: 1;
  color: #e98074;

  &::after {
    width: 15px;
    height: 15px;
    border-inline-width: 4px 0;
    border-block-width: 4px 0;
    inset-inline-start: -3px;
  }
}

.card-carousel {
  margin-bottom: 15px;
}

@media (max-width: 600px) {
  .content-card {
    .ant-card-body {
      padding-bottom: 8px;
      padding-inline: 2px;
    }
  }

  .btn {
    font-size: 12px;
  }

  .ant-card-meta-description {
    font-size: 12px;
  }
}